.header {
    background-image: linear-gradient(red, #CC5500);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 4rem;
    z-index: 999;
}
  
  .home-btn,
  .cart-btn {
    padding: 0.5rem;
    margin: 0 0.5rem;
    text-decoration: none;
    color: white;
}
  
  .user-info {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
  }
  
  .user-info span {
    margin-right: 0.2rem;
}

.logo {
    height: 3rem;
    width: 2.4rem;
}

.cart-icon {
  height: 2rem;
  width: 2rem;
}

.header-left {
  margin-left: 1rem;
}

.header-right {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.login-btn {
  margin-left: 1rem;
}

.cart-icon-wrapper {
  position: relative;
  display: inline-block;
}

.cart-badge {
  position: absolute;
  top: -8px;
  left: -8px;
  background-color: #c62828;
  color: white;
  border-radius: 50%;
  padding: 4px;
  font-size: 12px;
  line-height: 1;
}